.loader {
	text-align: center;
 }

 .loader span {
	display: inline-block;
	margin-top: 10px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
 }

 .loader span:not(:first-child) {
	margin-left: 10px;
 }

 .loader span:nth-child(1) {
	background: #1E88E5;
	animation: move 1s ease-in-out -0.25s infinite alternate;
 }

 .loader span:nth-child(2) {
	background: #E53935;
	animation: move 1s ease-in-out -0.5s infinite alternate;
 }

 .loader span:nth-child(3) {
	background: #FB8C00;
	animation: move 1s ease-in-out -0.75s infinite alternate;
 }

 .loader span:nth-child(4) {
	background: #43A047;
	animation: move 1s ease-in-out -1s infinite alternate;
 }
 
 @keyframes move {
	from {
	  transform: translateY(-10px);
	}
	to {
	  transform: translateY(5px);
	}
 }
 
 .loader span {
	transform: scale(100);
 }